[tasks.web]
dependencies = ["web-wasm-bindgen-cli", "compile", "client"]

[tasks.compile]
script = '''
cargo build --release --target wasm32-unknown-unknown
wasm-bindgen --out-name penguinwars-io --out-dir assets --target web target/wasm32-unknown-unknown/release/penguinwars-io.wasm
'''

[tasks.client]
script = '''
basic-http-server .
'''

[tasks.web-wasm-bindgen-cli]
install_crate = {crate_name = "wasm-bindgen-cli", binary = "wasm-bindgen", test_arg="--help", version="0.2.80"}  